In [1]:
import pandas as pd
import numpy as np
import os
from env import host, user, password
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pydataset import data
import statistics
import seaborn as sns
import env
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import scipy
from scipy import stats

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
import sklearn.linear_model
import sklearn.preprocessing
import warnings
warnings.filterwarnings("ignore")
# importing my personal wrangle module
import wrangle

### 1. Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

### 2. Answer those questions through a mix of statistical tests and visualizations.

### 3. Bonus: Compute the mean(logerror) by zipcode and the overall mean(logerror). Write a loop that will run a t-test between the overall mean and the mean for each zip code. We want to identify the zip codes where the error is significantly higher or lower than the expected error.

In [2]:
df = wrangle.wrangle_zillow()

In [3]:
df.shape

(69665, 22)

In [4]:
df.columns

Index(['parcelid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedfinishedsquarefeet', 'fullbathcnt', 'latitude', 'longitude',
       'lotsizesquarefeet', 'rawcensustractandblock', 'regionidcity',
       'regionidzip', 'roomcnt', 'yearbuilt', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'logerror', 'transactiondate', 'county'],
      dtype='object')

In [5]:
df.dtypes

parcelid                          int64
bathroomcnt                     float64
bedroomcnt                      float64
buildingqualitytypeid           float64
calculatedfinishedsquarefeet    float64
fullbathcnt                     float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
rawcensustractandblock          float64
regionidcity                    float64
regionidzip                     float64
roomcnt                         float64
yearbuilt                       float64
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
logerror                        float64
transactiondate                  object
county                           object
dtype: object

In [6]:
df.regionidzip.value_counts()

97319.0    807
96987.0    747
97318.0    689
97118.0    598
96974.0    593
          ...
96039.0      2
96329.0      2
97092.0      1
96467.0      1
97111.0      1
Name: regionidzip, Length: 386, dtype: int64

In [7]:
df = df[df.regionidzip < 100_000]

In [8]:
df.regionidzip[df.regionidzip >= 100_000]

Series([], Name: regionidzip, dtype: float64)

In [9]:
df.regionidzip.max()

97344.0

In [10]:
for col in df.columns:
    print(df[col].value_counts())

14236060    2
14074415    2
12057023    2
11969146    2
14655760    2
           ..
12006067    1
11082422    1
11365048    1
11625145    1
12853244    1
Name: parcelid, Length: 69496, dtype: int64
2.0     29308
3.0     14800
1.0     12383
2.5      6454
4.0      2349
1.5      1356
3.5       999
5.0       750
4.5       661
6.0       262
5.5       212
7.0        54
6.5        35
8.0        16
7.5         9
9.0         4
10.0        1
Name: bathroomcnt, dtype: int64
3.0     28378
2.0     18097
4.0     15495
5.0      3755
1.0      3268
6.0       555
7.0        86
8.0        12
9.0         5
11.0        1
10.0        1
Name: bedroomcnt, dtype: int64
6.0     38493
8.0     13073
4.0      8091
7.0      5225
9.0      2022
5.0      1472
11.0      794
10.0      244
3.0       145
12.0       85
1.0         6
2.0         3
Name: buildingqualitytypeid, dtype: int64
1200.0    172
1120.0    162
1080.0    129
1260.0    115
1176.0    112
         ...
4682.0      1
4256.0      1
6992.0      1
4513.0      1
4839.0      1
Name: calculatedfinishedsquarefeet, Length: 4581, dtype: int64
2.0     35779
3.0     15803
1.0     13739
4.0      3008
5.0       957
6.0       285
7.0        61
8.0        16
9.0         4
10.0        1
Name: fullbathcnt, dtype: int64
33984600.0    40
33665651.0    38
33766300.0    34
34056700.0    32
34225100.0    29
              ..
33957530.0     1
34177662.0     1
33520407.0     1
34224398.0     1
33645855.0     1
Name: latitude, Length: 57424, dtype: int64
-118438000.0    63
-118435000.0    62
-118377000.0    59
-118445000.0    59
-118390000.0    57
                ..
-117670164.0     1
-118300927.0     1
-118109905.0     1
-117711944.0     1
-118105060.0     1
Name: longitude, Length: 55759, dtype: int64
7313.0     7887
6000.0      871
5000.0      410
7200.0      301
7000.0      282
           ...
87571.0       1
37901.0       1
10071.0       1
13872.0       1
16446.0       1
Name: lotsizesquarefeet, Length: 17478, dtype: int64
6.059063e+07    60
6.037137e+07    60
6.037277e+07    51
6.059032e+07    43
6.037139e+07    40
                ..
6.059088e+07     1
6.111001e+07     1
6.111000e+07     1
6.037502e+07     1
6.037267e+07     1
Name: rawcensustractandblock, Length: 35572, dtype: int64
12447.0    15988
46298.0     2245
5534.0      1857
52650.0     1657
40227.0     1561
           ...
10815.0        4
31134.0        3
14906.0        2
36078.0        1
21395.0        1
Name: regionidcity, Length: 175, dtype: int64
97319.0    807
96987.0    747
97318.0    689
97118.0    598
96974.0    593
          ...
96329.0      2
96039.0      2
97092.0      1
96467.0      1
97111.0      1
Name: regionidzip, Length: 385, dtype: int64
0.0     52745
6.0      4365
7.0      3744
5.0      2848
8.0      2834
4.0      1257
9.0      1174
10.0      335
3.0       196
11.0      104
12.0       32
2.0         8
13.0        6
14.0        4
1.0         1
Name: roomcnt, dtype: int64
1955.0    1877
1989.0    1621
1950.0    1599
1964.0    1527
1954.0    1509
1953.0    1475
1973.0    1427
1956.0    1367
1979.0    1301
1987.0    1292
1990.0    1273
1980.0    1266
1963.0    1246
1965.0    1201
1977.0    1185
1951.0    1185
1952.0    1184
1972.0    1149
1986.0    1143
1974.0    1100
1959.0    1099
1981.0    1081
1962.0    1080
1971.0    1072
1985.0    1047
1978.0    1041
1957.0    1010
1984.0     998
1976.0     988
1947.0     987
1949.0     970
1988.0     939
1948.0     924
1960.0     901
1969.0     884
1961.0     876
2006.0     847
2005.0     821
1958.0     802
1983.0     794
2007.0     757
2003.0     734
1970.0     727
1975.0     716
2004.0     709
1968.0     700
1966.0     665
2001.0     664
1982.0     654
1999.0     626
2000.0     593
2002.0     592
1923.0     538
1998.0     526
1991.0     523
1997.0     520
1941.0     517
1994.0     511
1992.0     507
1940.0     505
1967.0     504
1924.0     493
1995.0     480
1996.0     473
1925.0     472
1939.0     434
1993.0     431
1926.0     416
1922.0     378
1946.0     375
2008.0     359
1938.0     350
1927.0     329
1942.0     325
1928.0     321
2009.0     317
1944.0     316
1937.0     282
2010.0     277
2013.0     261
1929.0     248
1936.0     231
2014.0     222
2012.0     214
1921.0     202
1930.0     189
1920.0     176
2011.0     174
1945.0     162
1943.0     151
1912.0     136
1935.0     124
1910.0     121
1931.0     121
1913.0      98
1911.0      96
1932.0      81
1915.0      81
1914.0      70
1919.0      67
1909.0      66
2015.0      66
1905.0      62
1933.0      61
1908.0      60
1918.0      54
1934.0      52
1906.0      51
1917.0      47
1907.0      42
1916.0      37
1903.0      19
1904.0      19
1901.0      15
1895.0      12
1900.0      10
1902.0      10
1890.0       7
1885.0       5
1896.0       5
1898.0       4
1887.0       3
1893.0       3
1888.0       3
2016.0       2
1899.0       2
1878.0       1
1889.0       1
1894.0       1
1897.0       1
1892.0       1
1882.0       1
1880.0       1
Name: yearbuilt, dtype: int64
100000.0    68
90000.0     51
200000.0    48
95000.0     45
150000.0    38
            ..
72083.0      1
158266.0     1
364587.0     1
97869.0      1
154255.0     1
Name: structuretaxvaluedollarcnt, Length: 46758, dtype: int64
450000.0    43
350000.0    42
375000.0    40
400000.0    39
500000.0    39
            ..
315602.0     1
331778.0     1
314801.0     1
206421.0     1
131010.0     1
Name: taxvaluedollarcnt, Length: 46623, dtype: int64
2016.0    69653
Name: assessmentyear, dtype: int64
21299.0     94
22755.0     63
30210.0     62
16522.0     54
16749.0     52
            ..
389931.0     1
76245.0      1
50654.0      1
267445.0     1
365784.0     1
Name: landtaxvaluedollarcnt, Length: 47939, dtype: int64
2418.22    8
3720.52    7
1725.20    5
4401.72    5
2388.63    4
          ..
1321.54    1
7233.90    1
5566.25    1
3790.77    1
8026.74    1
Name: taxamount, Length: 66494, dtype: int64
 0.002652    7
 0.000231    7
 0.001878    5
 0.011157    5
 0.000420    5
            ..
-0.071380    1
 0.010943    1
-0.005930    1
-0.101643    1
 0.025578    1
Name: logerror, Length: 69178, dtype: int64
2017-06-30    1057
2017-04-28     809
2017-05-31     774
2017-07-28     718
2017-08-31     691
              ...
2017-07-22       1
2017-05-20       1
2017-08-12       1
2017-09-25       1
2017-04-08       1
Name: transactiondate, Length: 263, dtype: int64
Los_Angeles    44129
Orange         19820
Ventura         5704
Name: county, dtype: int64