In [1]:
import pandas as pd
import numpy as np
import os
from env import host, user, password
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import env
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from sklearn.impute import SimpleImputer
import scipy
import sklearn.linear_model
import sklearn.preprocessing
import warnings
warnings.filterwarnings("ignore")
import wrangle
import scipy.stats as stats

### 1. Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

### 2. Answer those questions through a mix of statistical tests and visualizations.

### 3. Bonus: Compute the mean(logerror) by zipcode and the overall mean(logerror). Write a loop that will run a t-test between the overall mean and the mean for each zip code. We want to identify the zip codes where the error is significantly higher or lower than the expected error.

## Before I get further down any rabbit hole, let's scale and split this data please

The wrange_zillow function is pretty good, just needs to be added to scale and split i think.

# NOTES TO THE EFFECT:
I have moved a number of operations from the wrangle function to the clean_and_prep function--i want the wrangle function to be a simple wrapper for all the other functions in the script
    - I'm expecting errors as a result that will need troubleshooting

In [2]:
# THE WRANGLE FUNCTION PERFORMS THE FOLLOWIN, IN BROAD STROKES:
# 1. Get the data via SQL query
# 2. Clean and prep the data
# 3. Encode the appropriate columns (only ['county'] for now)
# 4. Split the data: train, validate, test and X_ vs y_ splits as well
# 5. Scale the data (all train, validate and test, and all X_ and y_ splits are scaled)

df, train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test, \
train_scaled, X_train_scaled, y_train_scaled, validate_scaled, X_validate_scaled, \
y_validate_scaled, test_scaled, X_test_scaled, y_test_scaled \
= wrangle.wrangle_zillow()

# COMPLETE AND RUN YOUR CLEAN_AND_PREP FUNCTION BEFORE PROCEEDING FOR CLARITY
#### adding it inside of 'wrangle', or as a separate step?

In [5]:
df.shape

(61427, 28)

In [3]:
df.dtypes

parcelid                 int64
bathrooms              float64
bedrooms               float64
condition              float64
sq_ft                  float64
full_baths             float64
latitude               float64
longitude              float64
lot_size               float64
census_tract           float64
city_id                float64
zip                    float64
rooms                  float64
structure_value        float64
tax_value              float64
year_assessed          float64
land_value             float64
tax_amount             float64
logerror               float64
age                    float64
sq_ft_per_bathroom     float64
sq_ft_per_bedroom      float64
sq_ft_per_room         float64
has_half_bath             bool
age_bin               category
Los_Angeles              uint8
Orange                   uint8
Ventura                  uint8
dtype: object

In [4]:
for col in df.columns:
    print(df[col].value_counts())

10946379    2
17280166    2
12224279    2
12099888    2
11065727    2
           ..
12068177    1
14305540    1
14028116    1
10860236    1
12853244    1
Name: parcelid, Length: 61280, dtype: int64
2.0    28209
3.0    12428
1.0    12168
2.5     6082
1.5     1346
4.0      828
3.5      366
Name: bathrooms, dtype: int64
3.0    26241
2.0    17415
4.0    12462
1.0     3213
5.0     1905
6.0      191
Name: bedrooms, dtype: int64
6.0     34688
8.0     12146
4.0      7951
7.0      3747
5.0      1458
9.0       997
11.0      241
3.0       145
10.0       30
12.0       17
1.0         4
2.0         3
Name: condition, dtype: int64
1200.0    169
1120.0    161
1080.0    129
1260.0    115
1040.0    112
         ...
2964.0      1
658.0       1
3219.0      1
3086.0      1
3150.0      1
Name: sq_ft, Length: 2745, dtype: int64
2.0    34304
1.0    13514
3.0    12781
4.0      828
Name: full_baths, dtype: int64
33665651.0    38
33766300.0    34
34056700.0    30
34225100.0    29
34410700.0    27
              ..
34037540.0     1
34564093.0     1
34349520.0     1
33851667.0     1
34143248.0     1
Name: latitude, Length: 50080, dtype: int64
-118438000.0    62
-118435000.0    59
-118377000.0    54
-118188000.0    53
-118390000.0    53
                ..
-117783222.0     1
-118952921.0     1
-119281072.0     1
-117921153.0     1
-117773963.0     1
Name: longitude, Length: 48359, dtype: int64
7313.0     7474
6000.0      819
5000.0      375
7200.0      284
7000.0      259
           ...
10744.0       1
9155.0        1
8015.0        1
13486.0       1
16446.0       1
Name: lot_size, Length: 15245, dtype: int64
6.059063e+07    60
6.037137e+07    60
6.037277e+07    51
6.037139e+07    40
6.059063e+07    39
                ..
6.037701e+07     1
6.111008e+07     1
6.059099e+07     1
6.037107e+07     1
6.037540e+07     1
Name: census_tract, Length: 32386, dtype: int64
12447.0    13539
46298.0     2152
5534.0      1772
40227.0     1479
54311.0     1420
           ...
6822.0         3
31134.0        3
10815.0        3
14906.0        2
21395.0        1
Name: city_id, Length: 174, dtype: int64
97319.0    731
97318.0    682
96987.0    632
96974.0    568
97328.0    563
          ...
96956.0      4
96329.0      2
96039.0      2
97092.0      1
97111.0      1
Name: zip, Length: 384, dtype: int64
1.0     46034
6.0      4194
7.0      3528
5.0      2754
8.0      2521
4.0      1214
9.0       856
3.0       183
10.0      123
11.0       11
2.0         8
12.0        1
Name: rooms, dtype: int64
100000.0    62
90000.0     51
95000.0     45
200000.0    39
150000.0    38
            ..
126193.0     1
73191.0      1
217475.0     1
161321.0     1
154255.0     1
Name: structure_value, Length: 40318, dtype: int64
450000.0    43
350000.0    42
375000.0    40
500000.0    39
400000.0    39
            ..
210982.0     1
121291.0     1
289552.0     1
516060.0     1
409961.0     1
Name: tax_value, Length: 40129, dtype: int64
2016.0    61427
Name: year_assessed, dtype: int64
21299.0     94
22755.0     63
30210.0     62
16522.0     54
16749.0     52
            ..
558517.0     1
59600.0      1
127170.0     1
172086.0     1
365784.0     1
Name: land_value, Length: 41456, dtype: int64
2418.22    8
3720.52    7
1725.20    5
4401.72    5
5022.42    4
          ..
4501.04    1
2222.68    1
2323.29    1
5573.70    1
4569.93    1
Name: tax_amount, Length: 58372, dtype: int64
0.000231    7
0.002652    6
0.000420    5
0.008257    5
0.003152    5
           ..
0.020736    1
0.046424    1
0.010790    1
0.028261    1
0.025578    1
Name: logerror, Length: 60994, dtype: int64
66.0     1797
71.0     1492
32.0     1446
67.0     1423
57.0     1415
68.0     1376
48.0     1364
65.0     1266
34.0     1190
42.0     1190
41.0     1179
58.0     1164
56.0     1124
31.0     1112
44.0     1098
49.0     1096
69.0     1089
35.0     1069
47.0     1058
70.0     1056
50.0     1021
59.0     1004
40.0     1003
62.0     1001
36.0      976
37.0      966
43.0      955
64.0      929
45.0      907
74.0      888
72.0      882
33.0      845
61.0      834
73.0      824
52.0      810
60.0      801
38.0      754
63.0      741
51.0      686
46.0      673
53.0      646
39.0      610
55.0      600
15.0      570
16.0      568
14.0      542
17.0      496
18.0      489
98.0      470
20.0      465
54.0      446
80.0      443
27.0      437
30.0      434
81.0      433
97.0      427
22.0      423
29.0      421
26.0      413
19.0      401
21.0      398
96.0      392
25.0      382
24.0      382
82.0      364
23.0      360
28.0      359
95.0      342
99.0      341
75.0      330
79.0      305
83.0      297
77.0      296
13.0      275
94.0      272
93.0      264
12.0      252
84.0      214
92.0      208
11.0      200
100.0     176
85.0      176
8.0       161
101.0     157
76.0      151
91.0      149
78.0      141
7.0       133
9.0       132
109.0     124
10.0      111
111.0     109
86.0       93
108.0      90
90.0       90
110.0      89
106.0      72
107.0      67
89.0       64
112.0      61
102.0      61
116.0      56
113.0      54
103.0      49
115.0      47
87.0       44
88.0       43
104.0      39
114.0      38
105.0      33
6.0        32
118.0      17
117.0      16
120.0      15
126.0      12
119.0       9
121.0       8
131.0       7
125.0       5
136.0       5
123.0       4
133.0       3
128.0       3
134.0       2
122.0       2
139.0       1
124.0       1
141.0       1
143.0       1
5.0         1
127.0       1
Name: age, dtype: int64
720.000000     162
560.000000     147
700.000000     145
600.000000     144
780.000000     143
              ...
884.800000       1
1329.500000      1
1006.400000      1
1010.333333      1
867.142857       1
Name: sq_ft_per_bathroom, Length: 5709, dtype: int64
432.000000    170
480.000000    162
420.000000    148
520.000000    141
400.000000    141
             ...
679.750000      1
288.500000      1
498.166667      1
347.600000      1
833.666667      1
Name: sq_ft_per_bedroom, Length: 5229, dtype: int64
1200.000000    129
1120.000000    118
1080.000000    109
1570.000000     98
1260.000000     94
              ...
411.833333       1
223.285714       1
277.428571       1
354.375000       1
2969.000000      1
Name: sq_ft_per_room, Length: 7036, dtype: int64
False    53620
True      7807
Name: has_half_bath, dtype: int64
(40, 60]      19237
(60, 80]      17264
(20, 40]      13980
(80, 100]      4859
(0, 20]        4828
(100, 120]     1203
(120, 200]       56
Name: age_bin, dtype: int64
1    39146
0    22281
Name: Los_Angeles, dtype: int64
0    44248
1    17179
Name: Orange, dtype: int64
0    56325
1     5102
Name: Ventura, dtype: int64

There may be a few duplicated parcel ids

In [ ]:
df.full_baths.value_counts()

In [ ]:
df.has_half_bath.value_counts()

In [ ]:
(df.bathrooms - df.full_baths).value_counts()

There aree 13 homes with 2 half baths

In [ ]:
df[(df.bathrooms - df.full_baths) == 1.0]

## Is there a time period that has a higher or lower log error?
Bin the age group--ten bins? And see results.  Hue on county...if that makes a difference

In [ ]:
sns.scatterplot(x='age', y='logerror', data=df)

In [ ]:
sns.relplot(
    data=df,
    y='logerror',
    x='age',
    col=pd.cut(df.age, bins=[0, 20, 40, 60,80,100,120,200]),
)

Things look a little tighter on either end...the 40-60 and the 60-80 look like they have a wider distribution of logerror

In [ ]:
plt.figure(figsize=(20,10))
sns.boxplot(x='age_bin', y='logerror', data= df)

Still looks like there are more outliers in the middle, but this could be due to more data being available in those age bins

In [ ]:
sns.histplot(data=df, x= df[df.age_bin == pd.Interval(0, 20)].logerror)

In [ ]:
plt.figure(figsize=(20,5))
plt.subplot(1,7,1)
sns.histplot(data=df, x= df[df.age_bin == pd.Interval(0, 20)].logerror)
plt.title("0 to 20")
plt.subplot(1,7,2)
sns.histplot(data=df, x= df[df.age_bin == pd.Interval(20, 40)].logerror)
plt.title("20 to 40")
plt.subplot(1,7,3)
sns.histplot(data=df, x= df[df.age_bin == pd.Interval(40, 60)].logerror)
plt.title("40 to 60")
plt.subplot(1,7,4)
sns.histplot(data=df, x= df[df.age_bin == pd.Interval(60, 80)].logerror)
plt.title("60 to 80")
plt.subplot(1,7,5)
sns.histplot(data=df, x= df[df.age_bin == pd.Interval(80, 100)].logerror)
plt.title("80 to 100")
plt.subplot(1,7,6)
sns.histplot(data=df, x= df[df.age_bin == pd.Interval(100, 120)].logerror)
plt.title("100 to 120")
plt.subplot(1,7,7)
sns.histplot(data=df, x= df[df.age_bin == pd.Interval(120, 200)].logerror)
plt.title("120 and Up")

Looking at logerror by age_bin, they are generally normally distributed

Maybe run an ANOVA test to see about the variances? 

First, Levene

In [ ]:
#H0: Variances are equal
#Ha: Variances are not equal

stats.levene(
    df[df.age_bin == pd.Interval(0, 20)].logerror,
    df[df.age_bin == pd.Interval(20,40)].logerror,
    df[df.age_bin == pd.Interval(40,60)].logerror,
    df[df.age_bin == pd.Interval(60,80)].logerror,
    df[df.age_bin == pd.Interval(80,100)].logerror,
    df[df.age_bin == pd.Interval(100,120)].logerror,
    df[df.age_bin == pd.Interval(120,200)].logerror
)

The results show that the null hypothesis is rejected

In [ ]:
df[df.age_bin == pd.Interval(0, 20)].logerror.var()

In [ ]:
df[df.age_bin == pd.Interval(120,200)].logerror.var()

#### Anova testing of the logerror by age_bin

Set Hypothesis
- 𝐻0 : Population means of logerror (by age_bin) are equal
- 𝐻𝑎 : Population means of logerror (by age_bin) are not all equal

In [ ]:
# This cell runs an ANOVA test on the different 'age_bins'
# We are demonstrating statistically that the age correlates to the logerror
f, p = stats.f_oneway(
    df[df.age_bin == pd.Interval(0, 20)].logerror,
    df[df.age_bin == pd.Interval(20,40)].logerror,
    df[df.age_bin == pd.Interval(40,60)].logerror,
    df[df.age_bin == pd.Interval(60,80)].logerror,
    df[df.age_bin == pd.Interval(80,100)].logerror,
    df[df.age_bin == pd.Interval(100,120)].logerror,
    df[df.age_bin == pd.Interval(120,200)].logerror
)
f, p

In [ ]:
# Setting our alpha and returning a statemtent on the validity of the ANOVA test by comparing alpha to the resulting p-value

alpha = 0.05
if p < alpha:
    print("We reject H_O")
else:
    print("We fail to reject $H_{0}$")

#### The anova test shows I can proceed with the understanding that the average logerror is different depending on the age of the home

In [ ]:
sns.relplot(data=df, y='logerror', x='age', col='county')

This relplot shows age and logerror by count; any dignificant differences between the counties aren't clear

### What about a relationship between tax_value and logerror? (also: are these related targets?)

In [ ]:
sns.scatterplot(x=df.tax_value, y=df.logerror, data=df)

In [ ]:
sns.scatterplot(x=df.tax_value, y=df.logerror, data=df, hue='county', alpha=.5)

In [ ]:
sns.relplot(x=df.tax_value, y=df.logerror, data=df, col='county', alpha=.5)

In [ ]:
df[df.county=='Los_Angeles'].shape

In [ ]:
df[df.county=='Orange'].shape

In [ ]:
df[df.county=='Ventura'].shape

### No clear impressions

In [ ]:
sns.lmplot(x='tax_value', y='logerror', data=df, scatter_kws={'alpha':.2},hue='county')

### Look like perfectly flat trend lines